@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,200;1,400;1,600;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'nunito';
    background: radial-gradient(circle, rgba(26, 38, 83, 1) -20%, rgba(21, 21, 21, 1) 100%);
    color: white;
}

.navbar-collapse.show {
    background-color: rgba(21, 21, 21, 1);
}

.circles {
    position: absolute;
    top: 0;
    right: 0;

    width: 150px;
    height: 250px;
    background-color: gold;
    border-top-left-radius: 140px;
    border-bottom-left-radius: 140px;
    border-left: 0;

    background-color: #1A2653;
    opacity: 60%;
    transform: translate(-0%, -50%);
    z-index: -1;

}


.circle2 {
    position: absolute;
    top: 0;
    right: 0;

    width: 200px;
    height: 300px;
    background-color: gold;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 300px;
    border-left: 0;

    background-color: #1A2653;
    opacity: 60%;
    transform: translate(-0%, -40%);
    z-index: -1;
}

nav {
    // position: absolute;
    // background-image: url("assets/circles.svg");
    // background-repeat: no-repeat;
    // right: 0;

    padding: 1.5rem 4% !important;
    color: white !important;
    font-weight: 700;

    .nav-link {
        color: white !important;
        letter-spacing: 4px;
        margin-left: 2.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        font-family: 'Spartan';

    }

    .nav-link:hover {
        border-bottom: 1px solid white;

    }

    .navbar-brand img {
        width: 150px;
        margin-top: -2vh;
    }
}

//Start Home
#heroSection {
    margin: 14vh 0 12vh 0;

    h1 {
        font-weight: 700;
        font-size: 3rem;
        font-family: 'Spartan';
    }

    p {
        color: rgba(255, 255, 255, 0.5);
        font-size: .9rem;
    }
}

#gameSection {
    background-image: url("/assets/line.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    height: 100vh;

    .icon img {
        margin-bottom: -90px;
        width: 80px;
    }

    .icon {
        background-color: #1A2653;
        width: 120px;
        height: 120px;
        border-radius: 50%;

    }

    p {
        margin: 0;
        font-size: .8rem;

    }

    a {
        text-decoration: none;
        color: #0036FF;
        cursor: pointer;

        img {
            width: 18px;
        }
    }

    .game {
        height: 24vh;

        h2 {
            margin-top: 1rem;
        }
    }

    .coindlip {
        margin-top: 50vh !important;
    }

    .rolldice {
        margin-top: 70vh !important;
    }

    .twodice {
        margin-top: 20vh !important;
    }

    .etheroll {
        margin-top: 15vh !important;
    }

    @media only screen and (max-width: 760px) {
        background-image: none;
        margin-bottom: 100vh !important;

        .coindlip,
        .rolldice,
        .twodice,
        .etheroll {
            margin-top: 0vh !important;
            margin-bottom: 23vh !important;

        }


    }

}

#infoSection {
    margin-top: 15vh;

    .card {
        zoom: .85;
        margin: 1rem 0 0 0;
        background-color: #181E29 !important;
        padding: .25rem 0rem;
        border-radius: 8px;
        text-align: center;
        border: none;
        // height: 30vh;
        box-shadow: 0px 4px 4px 0px #00000040;
        padding: 1rem;

        h6 {
            margin: 1rem 0;
            color: #4972FF;
        }

        h2 {
            margin: 0;
        }

        h2 span {
            font-size: 1.2rem;
            font-weight: normal;
        }

        .winner {
            img {
                width: 20px;
                margin: 5px;
            }

            span {
                font-size: 1.5rem;
                margin-left: 2rem;

                span {
                    margin-left: 0rem;
                    font-size: 1rem;
                }
            }
        }
    }
}

//End Home


// Start PlayArea
.panel {
    background-color: #181E29 !important;
    border-radius: 10px;
    box-shadow: -3px 3px 30px black;
}


.playArea {
    .title {


        img {
            width: 50px;
        }

        h1 {
            font-size: 1.8rem;
            margin: 1rem 1rem;
            font-weight: 500;
        }
    }

    .option,
    .decrease,
    .increase,
    .betAmount {
        background-color: #121721;
    }

    .options {
        padding: 0 3rem;
        cursor: pointer;
    }

    .option {
        font-size: .7rem;
        padding: 2% 6%;
        border-radius: 40px;
    }

    .increase,
    .decrease {
        padding: 3%;
        cursor: pointer;
        border-radius: 80px;
        height: 50px;
        width: 50px;
        text-align: center;

        img {
            width: 20px;
        }
    }

    .betAmount {
        padding: 3% 22%;
        border-radius: 10px;
        font-size: 2rem;
        font-weight: 700;
    }

}


.statsArea {
    padding: 2rem;
    margin-top: 2rem;
    font-size: 0.8rem;

    h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    p {
        color: #2B7B3D;
    }

    .stat {
        margin-bottom: 2rem;
        font-family: 'spartan';

        h3 {
            font-size: 1.3rem;
            margin-bottom: 1.5rem;
        }

        h2 {
            font-size: 1.24rem;
            margin-bottom: .5rem;
        }

        span img {
            width: 35px;
            margin: 0 5px;
            margin-top: -10px;
        }

        span {
            font-weight: 200;
            font-size: 1.2rem;
        }
    }

}


.tableArea {
    .title {
        font-family: 'spartan';
    }

    table {
        color: white;
        background-color: #181E29 !important;

        td {
            border: none;
            padding: 0;
            padding-top: .5rem;
        }
    }

    td:last-child,
    th:last-child {
        text-align: right;
    }

    td:nth-child(3),
    th:nth-child(3) {
        text-align: center;
    }

    .result.glow {
        color: rgb(53, 228, 53);
    }

    .result {
        color: #969CB2;
    }

    h2 {
        font-size: 1.8rem;
        margin: 0 2rem;
        font-weight: 700;
    }
}

// End PlayArea


footer {
    background-color: #181E29;
    padding: 2rem 50rem;
    margin: 0 3rem;
    margin-top: 20vh;

    .px-5 {
        padding: 5rem !important;
    }

    .h2,
    .h3 {
        font-size: 1rem;
        margin: 0;
    }

    .footer-section {
        margin: 0rem 0 0 0rem;
        padding: 2rem;
    }

    @media only screen and (max-width: 760px) {
        .footer {
            display: flex;
            flex-direction: column;
        }
    }

    .h3 {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.5);
        font-weight: normal;
        text-decoration: none;
    }
}

#TNDC {
    padding: 2rem 0rem;

    h2,
    h3 {
        font-size: 1.2rem;
    }

    h2 {
        margin: 3rem 0 1rem 0;
    }

    h3 {
        line-height: 1.6;
        font-weight: lighter;
    }

    ul li {
        font-size: 1.2rem;
        font-weight: lighter;
    }
}


.Area {
    .dice {
        opacity: 60%;
    }

    .dice-active {
        opacity: 100%;
    }
}

.twoDice {
    .dice {
        margin: -.8rem -.6rem;
    }

    img {
        width: 100%;
    }

}

.coinFlip {
    img {
        width: 70%;
    }

    p {
        font-size: .8rem;
    }
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #121721;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    background: url('assets/slider.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    zoom: 4;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20vw;
    height: 20vh;
    border: 0;
    background: url('assets/slider.png');
    cursor: pointer;
}

tbody {
    img {
        width: 20px;
        padding: 2px;
    }

    tr {
        cursor: pointer;
    }

    .cross td {
        color: #FDDE67;
    }

    .ace td {
        color: #969CB2;
    }

}

@media only screen and (max-width: 760px) {
    .twoDice {
        .dice {
            margin: 0 !important;
        }

        img {
            // margin: 1rem;
            width: 100% !important;
        }

    }

    #heroSection {
        margin: 3vh 0 !important;
    }

    .bet {
        zoom: .7;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
    }

}